* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  height: 100px;
  width: 300px;
  display: inline-block;
  /* border: 1px solid black; */
  border-radius: 8px;
  background-color: lightgray;
  margin: 3px;
}
.image img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.title {
  /* text-align: center; */
  margin-bottom: 10px;
}
.blank {
  margin-top: 10px;
  /* padding: 10px; */
}
.price {
  /* text-align: center; */
  margin: 10px;
  /* padding: 50px; */
}
.green {
  background-color: rgb(37, 244, 158);
  border-color: rgb(37, 244, 158);
  border-radius: 3px;
  box-shadow: 2px 3px 3px rgb(37, 244, 158);
  text-align: center;
  margin: 2px;
  padding: 3px;
  /* text-decoration: dashed; */
  /* font-family: co; */
}
button {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-color: rgb(37, 244, 158);
  border-radius: 1px rgb(37, 244, 158);
}
hr {
  /* border: 50px; */
  /* height: 5px; */
  color: black;
}
